@{
    ViewData["Title"] = "Product Type Listing";
}

<h2>@ViewData["Title"]</h2>

@foreach (var category in (IEnumerable<object>)category["category"])
{
    @category
    <div class="row top-buffer">
        <div>@category.Name</div>
        <div>@category.Quantity</div>
        <div>
        </div>
    </div>
}